sc/
p4est/
build-aux/

Makefile
Makefile.in
Makefile.t8.mk
Makefile.t8.pre

aclocal.m4
autom4te.cache

libtool
configure
config.log
config.status

config/libtool.m4
config/ltoptions.m4
config/ltsugar.m4
config/ltversion.m4
config/lt~obsolete.m4

src/4913
src/stamp-h1
src/t8_config.h
src/pre_config.h
src/pre_config.h.in

*.vtu
*.pvtu
*~
